*{
    margin:0px;
    box-sizing: border-box;
    font-size: 15px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
hr{
    border-top: 3px solid rgba(0,0,0,.1);
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:white;
    text-decoration: none;
}
.header{
    width:100%;
    /* height:42px; */
    background-color:  rgb(0,144,218);
    padding:5px 12px;
    padding-right:0px;
}
.content{
    width:100%;
    /* height:42px; */
    background-color: lightcyan;
    /* padding:5px 12px; */
}
.content-left,.content-right{
    padding:0px;
}
.content-right{
    background-color: white;
    height: 500px;
    padding:10px;
    
}
.content-right i{
    color:lightgrey;
}
.header-left{
   
    /* background-color: white; */
    height: 100%;
    padding:0px;
}
.header-right{
    height: 100%;
    /* background-color: lightblue; */
    padding:0px;
}
.search-tool{
    
    height: 32px;
    width:470px;
    /* background-color: lightcoral; */
}
.search-box{
    border-radius: 5px;
    margin-right:5px;
    height: 100%;
    background-color: white;
    padding-top:2px;

}
.search-box i{
    color:lightgrey;
}
.search-box input{
    width: 93%;
    border: none;
    outline:none;
    transition: width 2s;
}
.search-number{
    border-radius: 5px;
    background-color: white;
    padding-top:2px;
}
.search-number input{
    width:100%;
    border:none;
    outline:none;
}
.search-button {
    color: #ffffffab;
    font-size: 20px;
    padding-left:5px;
    transition: all 0.5s;
}
.search-button:hover{
    color:white;
}
.color-btn-change{
    color:white;
}
.row{
    margin:0px;
}
.nav-btn{
    color:white;
    font-size:15px;
    padding: 5px 12px;
    transition: all 0.5s;
}
.nav-btn:hover{
    background-color: #0077b4;
}
.dropdown-toggle::after {
    display:none;
}
#navdrop{
    color: white;
    background: transparent;
    border: none;
    font-size: 20px;
    outline:none;
    transition: all 0.5s;
    padding-right: 12px;
    padding-left: 12px;
    
}
#navdrop:hover{
    background-color: #0077b4;

}

.nav-button .dropdown-menu{
    background-color: #0077b4;
    margin-top:0px;
    padding: 0px;
  
}
.nav-button .dropdown-item{
    color:white;
    font-size:15px;
    padding: 12px 10px;
}
.nav-button .dropdown-item:hover{
    color: white;
    background-color: #0090DA;
}
.nav-button .dropdown-item i{
    margin-right:15px;
    min-width: 17px;
}
.user-account{
    width:70px;
    overflow:hidden;
    text-overflow: ellipsis;
    color:white;
    padding: 5px 12px;
    font-size:15px;
}

#user-select,#price-select {
    width: 128px;
    max-width: 195px;
    border:none;
    border-radius:5px;
    font-size: 15px;
    margin-left:5px;

  

}
#user-select:hover{
    background-color: lightgrey;
}
#selectTagWidth,#selectTagWidth2{
    display : none;
}
.sale-user .form-inline{
    justify-content: space-between;
}
.date,.time{
    font-size: 13px;
    color: grey;
}
.customer{
    border-bottom:1px solid lightgrey;
    margin-top:15px;
}
.customer i{
    padding:0px;
    padding-top:3px;
    font-size: 15px;
}
.customer input{
    padding:0px;
    border:none;
    outline:none;
    background:transparent;
    
}
.customer button{
    border:none;
    background: transparent;
    /* font-size: 25px; */
    outline:none;
    padding:0px;
    transition:all 0.5s;
}
.customer button:hover{
    background-color: #edf6e4;
}
.customer button i{
    color:#0090DA;
}
.price-select{
    margin-top:15px;
  
}
.price-select .form-inline{
    justify-content: space-between
}

#cash{
    width: 50px;
    padding:2px;
}
.badge{
    display: inline-block;
    min-width: 20px;
    line-height: 1.4;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 225, 225);
    border-image: initial;
    margin: 0px 5px;
    border-radius: 2px;
    padding: 0px 5px;
}

.discount-value ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom:0px;
}
.discount-value li {
    display: inline-block;
    /* margin-right: 15px; */
}
.discount-value input {
    visibility:hidden;
    margin-right: -20px;
}
.discount-value label {
    cursor: pointer;
}
.discount-value input:checked + label {
    background: rgb(75, 172, 77);
}
.discount-value label:hover{
    background: rgb(111, 111, 111);
}
.discount-value label{
    min-width: 41px;
    background-color: rgb(153, 153, 153);
    height: 25px;
    text-align: center;
    border-radius: 5px;
    padding: 0px 5px;
    color: white;
    transition:all 0.5s;
}
.popover{
    max-width: 355px;
    -webkit-font-smoothing: antialiased;
    -webkit-filter: blur(0.000001px);
    height: 60px;
    padding-top:10px;

}
.discount button{
    border:none;
    background:transparent;
    outline:none;
    border-bottom:1px solid black;
    width:100px;
    text-align: right;
    padding-right:0px;
}
.discount button:active{
    border-bottom:2px solid green;
}
#discount-value{
    visibility:unset;
    height: 100%;
    margin-left: 20px;
    max-width: 120px;
    border:none;
    margin-right:10px;
    text-align: right;
    border-bottom:1px solid lightgrey;

}
.must-pay .form-label{
    font-weight: bold;
}
.must-pay .form-output{
    font-size:20px;
}
.text-highlight{
    color:#0090DA;
    font-weight:bold;
}
.real-pay .pay-credit input{
    text-align: right;
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 100px;
    outline:none;
}
.real-pay .pay-credit button{
    background: transparent;
    border:none;
    outline:none;
  
}
.real-pay .pay-credit button i{
    color:#0090DA;
    font-size:25px;
}
.form-note{
    border-bottom:1px solid lightgrey;
    padding-bottom:2px;
}
.form-note:before{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 13px;
    color: #666666;
    font-size: 11px;
    color: #999999;
    content: "\f303";
  
}
.form-note input{
    width: 95%;
    
    float: right;
    border: none;
    background:transparent;
    outline:none;
}
.form-note:focus-within{
    border-bottom:2px solid green;
}
#pay-btn{
    width: 100%;
    font-size: 20px;
    height: 70px;
    font-weight: bold;
    margin-top:100px;
}